body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #2C3E50;
}

.fullTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-spacing: 8px;
  background-color: #ECF0F1;
  color: #2C3E50;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  padding: 5px 20px 20px 20px;
}

.selectedTable {
  background-color: #ECF0F1;
  border-radius: 20px;
  box-shadow: 0 0 20px black;
  padding: 5px 20px 20px 20px;
}

.selectedTable tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#returnBtn {
  display: block;
  margin: 0 auto;
  background-color: #ECF0F1;
  color: #2C3E50;
  font-size: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px black;
}

#returnBtn:hover {
  background-color: #2C3E50;
  color: #ECF0F1;
  border-color: #ECF0F1;
  transition: ease-in-out .1s;
  box-shadow: 0 0 2px black;
}

th {
  font-size: 48px;
  padding-bottom: 10px;
}

td {
  font-size: 20px;
}

td, th {
  padding-left: 10px;
  padding-right: 10px;
}

.subheader {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.fullListRow:hover {
  cursor: pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
